commit code to git commands


1. git init .
2. git remote add origin https://github.com/vinodh24/springboot-jpa-oracle-postgres-xml.git
3. git add .
4. git commit -m "first-commit"
5. git push origin master